<h1>Listing rarities</h1>
<table>
  <tr>
    <th>Name</th>
    <th colspan="3"></th>
  </tr>
 
<% @rarities.each do |rarity| %>
  <tr>
    <td><%= rarity.name %></td>
    <td><%= link_to 'Show', type_path(rarity) %></td>    
  </tr>
<% end %>
</table>