<h1>Listing affiliations</h1>
<table>
  <tr>
    <th>Name</th>
    <th colspan="3"></th>
  </tr>
 
<% @affiliations.each do |affiliation| %>
  <tr>
    <td><%= affiliation.name %></td>    
    <td><%= link_to 'Show', affiliation_path(affiliation) %></td>
  </tr>
<% end %>
<%= link_to 'New affiliation', new_affiliation_path %>
</table>